*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
header h1{
    text-align: center;
    background: #b6edfd;
    color:  #253853;
    padding: 25px 0px;
}
.main{
    flex: 1 0 auto;
}
.container{
    width:100% ;
    background: #b6edfd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #253853;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    width :60px;
    height:60px;
    border: none;
    outline:none;
    color:#fff;
    text-align:center;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: solid black .8px;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #39b4d7;
}
footer{
    font-weight: 500;
    color:  #213148;
    padding: 30px 0px;
}